<table class="table table-striped table-bordered">
  <tr>
    <td>Artist</td>
    <td><%= @post.artist %></td>
  </tr>
  <tr>
    <td>Title</td>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <td>Link</td>
    <td><a href="<%= @post.url %>" target="_blank"><%= @post.url %></td>
  </tr>
  <tr>
    <td>Dropped by</td>
    <td><%= @post.user.username %>
  </tr>
  <tr>
    <td>Dropped at</td>
    <td><%= @post.created_at %>
  </tr>
  <tr>
    <td>Why?</td>
    <td><%= @post.description %></td>
  </tr>
</table>

<% if logged_in? && current_user == @post.user %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-mini pull-right' %>
<% end %>

<br/>

<% if @comment.errors.any? %>
  <div class="alert alert-error">
    <%= @comment.errors.full_messages.join(', ') %>
  </div>
<% end %> 

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :text, rows: 2 %>
  <br/>
  <%= f.submit "Add Comment", :class => "btn"  %>
<% end %>

<table class="table table-striped table-bordered"> 
  <% @post.comments.reverse.each do |c| %>
    <tr>
      <td><%= c.text %></td>
      <td><%= c.user.username %></td>
      <td><%= time_ago_in_words(c.created_at) %> ago</td>
    </td>
  <% end %>
</table>