

<table border="1" cellpadding="10" width="800">
  <tr>
    <td>Artist</td>
    <td><%= @post.artist %></td>
  </tr>
  <tr>
    <td>Title</td>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <td>Link</td>
    <td><a href="<%= @post.url %>" target="_blank"><%= @post.url %></td>
  </tr>
  <tr>
    <td>Dropped by</td>
    <td><%= @post.user.username %>
  </tr>
  <tr>
    <td>Dropped at</td>
    <td><%= @post.created_at %>
  </tr>
  <tr>
    <td>Why?</td>
    <td><%= @post.description %></td>
  </tr>
</table>

<br/>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :text, rows: 2 %>
  <%= f.submit "Add Comment" %>
<% end %>

<table border="1" cellpadding="10" width="800"> 
  <% @post.comments.reverse.each do |c| %>
    <tr>
      <td><%= c.text %></td>
      <td><%= c.user.username %></td>
      <td><%= time_ago_in_words(c.created_at) %> ago</td>
    </td>
  <% end %>
</table>